.menuCabecera{
    background-color: #AADAE5;
    width: 100%;
    }
    .listamenu li{
        display: inline;
         padding: 10px;
        }
    .listamenu{
        padding: 10px;
        text-align: right;
        text-transform: uppercase;
        font-weight: bold;
    }
    li a{
        text-decoration: none;
    }
    li a:hover{
        color: #E2430C;
        
    }
    .listamenu li{
        border-right: solid 2px black;
    }
    .listamenu li:last-child{
 border-right: none;
    }
    *{
    padding:  0; 
    margin: 0;
    }
    .banner{
        width: 100%;
        height: 350px;
        background-image: url("../imagenes/education-day-arrangement-table.jpg"); 
        background-size: contain;
       background-repeat: no-repeat;
       background-position-y: 20%;
       
    }
  
    .marcoColumnas{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }
    .columna{
        flex: 1;
        background-color: #e9a238;
        border: 1px solid #f5580f;
         
       

    }
    .footer{
        width: 100%;
        height: 120px;
        background-color: #1bd161 ;
    }
    .colorVerde{ 
        background-color: #AADAE5;
    }
    .colorAzul{
       background-color:#E2430C;
    }
    .marcoColumnas img{

        width: 100%;
    }
    .formulario{
 width: 100%;
 padding: 15px;

    }
    form{

        width: 80%;
        margin: auto;
        padding: 15px;
        border-radius: 5px;
    }
    input[type=text]{
width: 100%;
margin: 10px;
padding: 5px;
border-radius: 15px;
    }
    textarea{
        width: 100%;
        height: 50px;
}
input[type=submit]{
    padding: 15px;
background:rgb(20, 140, 30, 0.5);
width: 100%;
margin: auto;
border-radius: 15px
}
input[type=submit]:hover {
background-color: rgb(20, 140, 30 , 0.3);
cursor: pointer;
}
li a img{
width: 28px;

}
li a img :hover{
    background-color: none;
    opacity: 30%;
}
.derechos{
padding: 15px;
}





    